<app-menu></app-menu>
<br>
<h1 class=" d-flex justify-content-center ">Osoby</h1>
<div class="container-xxl h-75">
  <div class="row h-100">
    <div class="col">
      <app-osoby-zoznam [osoby]="osoby"
                        (upravOsobu)="upravZoZoznamu($event)"
                        (zmazOsobu)="zmazZoZoznamu($event)">
      </app-osoby-zoznam>
    </div>
    <div class="col-9">
      <div class="text_input"></div>
      <app-osoba-formular [osoba]="osobaNaUpravu"
                          (pridajOsobu)="pridaj($event)"
                          (upravOsobu)="uprav($event)" >
      </app-osoba-formular>
    </div>
  </div>
</div>

<!--
<div>
  <button (click)="chodSpat()">SPÄŤ</button>
</div>
-->


