body,
html {
  height: 100%;
}

.bg {
  /* The image used */
  background-image: url("images/SigmaMale.png");
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.login{
  position: absolute;
  background-color: #cccccc;
  margin-left: 20px;
  top: 20%;
  padding-left: 20px;
  width: 20%
;
}

