<mat-toolbar>
  <span> SigmaChat </span>
</mat-toolbar>
<div class="background">
  <!-- <div class="login">
   <mat-form-field class="text" appearance="fill">
     <mat-label>
       Your name:
     </mat-label>
     <input matInput formControlName="meno" placeholder="Input your nickname...">
   </mat-form-field>
     mat
   <button (click)="odosli" > enter</button>
   </div>-->
  <div class="welcome">
    <button mat-raised-button (click)="odosli()"> Enter into Sigmas!</button>
  </div>

</div>
