<header>
  <app-menu>
  </app-menu>
</header>

<div class="container-xxl h-75">
<div class="row h-100">
  <div class="col overflow-auto h-100 room-clickable">
  <app-miestnost-zoznam [miestnosti]="miestnosti"
                        [messages]="messages"
                        (nastavMiestnost)="nastavMiestnostAkoPrijemcu($event)">

  </app-miestnost-zoznam>
</div>
<main class="col-11 col-sm-7 overflow-auto h-75">
<app-sprava-zoznam [messages]="messages"
                   (upravSpravu)="upravZoZoznamu($event)"
                   (zmazSpravu)="zmazZoZoznamu($event)">
</app-sprava-zoznam>
<br>
  <div class="col-7 text_input">
    <app-sprava-formular [sprava]="spravaNaUpravu"
                         [prijemca]="miestnostAkoPrijemca"
                     (pridajSpravu)="odosli($event)"
                     (upravSpravu)="uprav($event)" >
    </app-sprava-formular>
  </div>
<br>
</main>
</div>
</div>

