<div>
<br>
<div>
  <button mat-icon-button (click)="chodSpat()">
    <mat-icon>
      home
    </mat-icon>
  </button>
  Spravy
</div>


<app-sprava-zoznam [messages]="messages"
                  (upravSpravu)="upravZoZoznamu($event)"
                  (zmazSpravu)="zmazZoZoznamu($event)">
</app-sprava-zoznam>
<br>
<app-sprava-formular [sprava]="spravaNaUpravu"
                     (pridajSpravu)="odosli($event)"
                     (upravSpravu)="uprav($event)" >
</app-sprava-formular>
<br>
</div>



