<header>
  <app-menu>
  </app-menu>
</header>

<div class="container-xxl h-75">
<div class="row h-100">
  <div class="col">
  <app-miestnost-zoznam>

  </app-miestnost-zoznam>
</div>
<main class="col-9 overflow-auto h-75">
<app-sprava-zoznam [messages]="messages"
                  (upravSpravu)="upravZoZoznamu($event)"
                  (zmazSpravu)="zmazZoZoznamu($event)">
</app-sprava-zoznam>
<br>
  <div class="text_input">
    <app-sprava-formular [sprava]="spravaNaUpravu"
                     (pridajSpravu)="odosli($event)"
                     (upravSpravu)="uprav($event)" >
    </app-sprava-formular>
  </div>
<br>
</main>
</div>
</div>

