<br>
<h1 class=" d-flex justify-content-center ">Miestnosti</h1>

<app-miestnosti-formular [miestnosti]="miestnostNaUpravu"
                    (pridajMiestnost)="pridaj($event)"
                    (upravMiestnost)="uprav($event)" >
</app-miestnosti-formular>


<!--
<app-miestnosti-zoznam [miestnosti]="miestnosti"
                       (upravMiestnost)="uprav($event)"
                       (zmazMiestnost)="zmazZoZoznamu($event)">
</app-miestnosti-zoznam>
-->


<br>

<div>
  <button (click)="chodSpat()">SPÄŤ</button>
</div>


