<header>
  <app-menu>
  </app-menu>
</header>

<div class="container-xxl h-75">
  <div class="row h-100">
    <div class="col overflow-auto h-100">
        <app-miestnosti-formular [miestnosti]="miestnostNaUpravu"
                                 (pridajMiestnost)="pridaj($event)"
                                 (upravMiestnost)="uprav($event)" >
        </app-miestnosti-formular>
    </div>
    <div class="col-8">
      <div class="text_input"></div>
      <app-miestnost-zoznam [miestnosti]="miestnosti"
                            (upravMiestnost)="upravZoZoznamu($event)"
                            (zmazMiestnost)="zmazZoZoznamu($event)">
      </app-miestnost-zoznam>
    </div>
  </div>
</div>



