<h1>Vytvorit miestnost</h1>
<form [formGroup]="formular">

  <mat-form-field>
    <mat-label>
      Nazov miestnosti:
    </mat-label>
    <input matInput formControlName="name" placeholder="Zadajte nazov...">
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>
      Uzivatel:
    </mat-label>
    <input matInput formControlName="user" placeholder="Vlozte meno uzivatela...">
  </mat-form-field>


  <button mat-icon-button (click)="odosli()" *ngIf="formular.value.id === null"><mat-icon>add</mat-icon></button>
  <button mat-icon-button (click)="uprav()" *ngIf="formular.value.id !== null"><mat-icon>create</mat-icon></button>
  <button mat-icon-button (click)="zrus()"><mat-icon>cancel</mat-icon></button>

</form>
