<h1>Miestnosti - zoznam</h1>

<div *ngIf="!miestnosti || miestnosti?.length === 0">
  Zoznam miestnosti je prázdny.
</div>
<div class="row">
  <div class="col-5">
    <table class="table" *ngIf="miestnosti.length > 0">

      <tbody>
      <tr *ngFor="let miestnost of miestnosti">
        <td>{{ miestnost.name }}</td>
<!--
        <td>
          <button (click)="uprav(miestnost.id)">Upraviť</button>
          <button (click)="zmaz(miestnost.id)">Zmazať</button>
        </td>
        -->
      </tr>
      </tbody>
    </table>
  </div>
</div>

