<div *ngIf="!miestnosti || miestnosti?.length === 0">
  Zoznam miestnosti je prázdny.
</div>
<div class="row">
  <div>
    <table class="table nadpis" *ngIf="miestnosti.length > 0">

      <tbody>
      <tr *ngFor="let miestnost of miestnosti" class="button">
        <td>
          <ngx-avatar name={{miestnost.name}}></ngx-avatar>
        </td>
        <td (click)="nastav(miestnost.id)">
          <div>{{ miestnost.name }}</div>
          <div style="font-size: smaller; color: darkgray">{{ najdiPoslednuSpravu(miestnost.id) }}</div>

        </td>
<!--
        <td>
          <button (click)="uprav(miestnost.id)">Upraviť</button>
          <button (click)="zmaz(miestnost.id)">Zmazať</button>
        </td>
        -->
      </tr>
      </tbody>
    </table>
  </div>
</div>

