
<div *ngIf="!messages || messages?.length === 0">
  Zoznam sprav je prázdny.
</div>


<table class="table" *ngIf="messages.length > 0">
  <thead>
  <tr>
    <th>Odosielatel</th>
    <th>Prijimatel</th>
    <th>Text spravy</th>

  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let message of messages">
    <td>{{ message.odosielatel }}</td>
    <td>{{ message.prijimatel}}</td>
    <td>{{ message.text_spravy }}</td>
    <td>
      <button (click)="uprav(message)">Upraviť</button>
      <button (click)="zmaz(message)">Zmazať</button>
    </td>
  </tr>
  </tbody>
</table>
