
<div class="okno" *ngIf="!messages || messages?.length === 0">
  Zoznam sprav je prázdny.
</div>

<div class="row">
  <div class="col-5">
    <table class="table" *ngIf="messages.length > 0">
      <!--<thead>
      <tr>
        <th>Odosielatel</th>
         <th>Prijimatel</th>
        <th>Text spravy</th>
        <th>Id spravy</th>
      </tr>
      </thead>-->
      <tbody>
      <tr *ngFor="let message of messages">
        <td *ngIf="message.prijimatel == 'Niko' ">{{ message.odosielatel }}</td>
        <!-- <td>{{ message.prijimatel}}</td> -->
        <td *ngIf="message.prijimatel == 'Niko' ">{{ message.text }}</td>
        <!--
        <td>{{ message.id }}</td>
        <td>
          <button (click)="uprav(message.id)">Upraviť</button>
          <button (click)="zmaz(message.id)">Zmazať</button>
        </td>
        -->
      </tr>
      </tbody>
    </table>
  </div>
</div>
