<h1>Správy - formular</h1>

<form [formGroup]="formular">
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Prijimatel:</mat-label>
    <input matInput formControlName="prijimatel" placeholder="Zadaj prijemcu...">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Text:</mat-label>
    <input matInput formControlName="text_spravy" placeholder="Napiste text...">
  </mat-form-field>

  <button mat-icon-button (click)="odosli()" *ngIf="formular.value.id === null"> <mat-icon> send</mat-icon> </button>
  <button mat-icon-button (click)="uprav()" *ngIf="formular.value.id !== null"> <mat-icon>edit</mat-icon> </button>
  <button mat-icon-button (click)="zrus()"> <mat-icon>cancel</mat-icon> </button>

</form>
